
{%block content%}
{%for pitch in job%}
<div class="row ">
  <div class="col-md-6 mb-3">
    <!-- Card -->
    <div class="card">

      

      <!--Card content-->
      <div class="card-body">
        <h5>Name: {{pitch.author.username}}</h5>
        <h6 class="card-title">Category: {{pitch.category}}</h6>
        <!--Text-->
        <p class="card-text"> Pitch: {{pitch.pitch}}</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="{{url_for('main.new_comment', pitch_id =pitch.id)}}"> <button type="button" class="btn btn-light-blue btn-md">Comment</button></button></a> 
        <a href=""><button><i class="fab fa-gratipay fa-2x"></i></button></a>
       <a href=""><button><i class="fas fa-heart-broken fa-2x"></i></button></a> 
      </div>

    </div>
    <!-- Card -->
  </div>
<!-- Displaying reviews macro -->
{% macro displayPitches(pitch_list) %}

    {% for pitch in pitch_list %}

    <div class="row">

      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
        <h4>Author</h4>
        <p>{{pitch.id.user_id}}</p>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <h2> <a href="{{url_for('main.single_pitch',id=pitch.id)}}">{{pitch._title}}</a> </h2>
      </div>
    </div>

    {% endfor %}
{% endmacro %}
</div>
{%endfor%}
{%endblock%}
